.glossary {
    .glossary-content:hover {
        box-shadow: 0px 0px 16px rgba(91, 111, 163, 0.16);
        border-color: $primary !important;
    }

    .character-item {
        transition: 0.2s all ease;
        border-radius: 5px;
        padding: 5px;
        line-height: 1;

        &:hover {
            background-color: $primary;
            color: white;
        }

        &.active {
            background-color: $primary;
            color: white;
        }

        &.disabled {
            color: $primary-medium;
            pointer-events: none;
        }
    }

    .character-bar {
        top: 68px;
        background-color: $primary-light;
        z-index: 1;
        @include t {
            top: 0;
        }
    }
}